<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hangge_1314.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A326CF51D96A6E100BD7DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A326D091D96A6E200BD7DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A326D141D96A6E200BD7DD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
